<div class='row'>


<div class='col-md-4 col-md-offset-2'>

    {{#each burger}}
    {{#unless devoured}}
    <div class = 'row'>

      <h3>{{burger_name }} <button class='btn btn-primary'> Devour it</button> </h3>
    </div>


    {{/unless}}
      {{/each}}


</div>


<div class='col-md-4 col-md-offset-2'>

    {{#each burger}}
     {{#if devoured}}
     <div class = 'row'>

       <h3>{{burger_name }}  </h3>
     </div>

      {{/if}}
      {{/each}}


</div>
</div>
